html,body,ul,li,dl,dt,dd,p,h1,h2,h3,h5,form,img {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h5 {
    font-weight: 400;
}
img {
    border:0
}
ul {
    list-style:none;
}
input {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
    outline: none;
}
body {
    background-color:#f6f6f6;
    font:normal normal 12px "微软雅黑";
    color:#666;
}
.center{
    width: 990px;
    margin:0 auto;
    /*background-color: deepskyblue;*/
}
.clearfix:after {
    content: '';
    height:0;
    line-height: 0;
    visibility: hidden;
    display: block;
    clear: both
}
.clearfix {
    zoom: 1;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
a {
    text-decoration: none;
    color: #52505A;
}
i {
    font-style: normal;
}